<!DOCTYPE html>
<html>
    <body>
        <br>

        <h2>New Customer Message</h2>

        <p>You have a new message from customer <strong>{{contact.full_name}} </strong>.</p>

        <h3>Subject:</h3>
        <p>{{contact.subject}}</p>


        <h3>Message Details:</h3>
        <p>{{contact.message}}</p>

        <h3>Contact Details:</h3>
        <ul>
            <li>Email: {{contact.email }}</li>
            <li>Phone: {{contact.phone }}</li>
        </ul>

        <p>Yours sincerely,
        	<br>4WheelSpace Support Team
        </p>

    </body>
</html>